body {
    background-color: #112236;
    color: #ffffff;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-weight: 12pt
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #112236;
    margin: 6px 0;
    transition: 0.4s;
}
.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}
.change .bar2 {
    opacity: 0;
}
.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}
.dropdown-content{
    display:none;
}

.banner {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    margin: 0 1.5%;
}

/* CSS for search bar */
.search-container {
    display: inline-box;
    justify-content: center;
}


/* CSS for the sidebar*/
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidebar a:hover {
    color: #f1f1f1;
}

tbody {
    display:block;
    max-height:335px;
    overflow-x:hidden;
    overflow-y:auto;
    
}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
thead {
    width: calc( 100% - 1em )
} 
